@import "../../Variables.scss";

.container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  // height: 260px;
  width: 150px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 10px;
  background-color: #ece5d3;
  border-radius: 15px;
  filter: drop-shadow(8px 4px 2px black);
}
.container img {
  border-radius: 5px;
  filter: drop-shadow(0px 3px 1px rgb(106, 106, 106));
}

// .container:hover {
//   width: 170px;
//   height: 290px;
//   background-color: #bdb5b5;
//   transition: all 1s;
// }
// .container:hover img {
//   width: 170px;
//   height: 220px;
//   transition: all 1s;
// }
// .container:hover img {
//   width: 170px;
//   height: 220px;
//   transition: all 1s;
// }

// .container:hover .icons {
//   margin-left: 12px;
//   transition: all 1s;
// }

.info {
  flex-grow: 1;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0), #000000 95%);
  color: rgb(255, 255, 255);
  width: 150px;
  height: 200px;
  font-size: 10px;
  visibility: hidden;
  position: absolute;
}
.cart {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/addtocart.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.fav {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/addtofav.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.record {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/record.gif");
  background-position: center;
  background-size: cover;

  border-radius: 50%;
}
.events {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/events.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3px;
}

.record:hover,
.fav:hover,
.cart:hover,
.events:hover {
  background-color: $forthColor;
  width: 30px;
  height: 30px;
}
